# Copyright The OpenTelemetry Authors
# SPDX-License-Identifier: Apache-2.0
name: Build and Push to GHCR (no-otel branch)

on:
  push:
    branches:
      - no-otel
    paths:
      - 'src/**'
      - '.github/workflows/build-push-ghr-no-otel.yml'

permissions:
  contents: read

jobs:
  build_and_push_images:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    strategy:
      fail-fast: false
      matrix:
        file_tag:
          - file: ./src/accounting/Dockerfile
            tag_suffix: accounting
            context: ./
            setup-qemu: true
          - file: ./src/ad/Dockerfile
            tag_suffix: ad
            context: ./
            setup-qemu: true
          - file: ./src/cart/src/Dockerfile
            tag_suffix: cart
            context: ./
            setup-qemu: false
          - file: ./src/checkout/Dockerfile
            tag_suffix: checkout
            context: ./
            setup-qemu: true
          - file: ./src/currency/Dockerfile
            tag_suffix: currency
            context: ./
            setup-qemu: true
          - file: ./src/email/Dockerfile
            tag_suffix: email
            context: ./
            setup-qemu: true
          - file: ./src/flagd-ui/Dockerfile
            tag_suffix: flagd-ui
            context: ./
            setup-qemu: true
          - file: ./src/fraud-detection/Dockerfile
            tag_suffix: fraud-detection
            context: ./
            setup-qemu: true
          - file: ./src/frontend/Dockerfile
            tag_suffix: frontend
            context: ./
            setup-qemu: true
          - file: ./src/frontend-proxy/Dockerfile
            tag_suffix: frontend-proxy
            context: ./
            setup-qemu: true
          - file: ./src/frontend/Dockerfile.cypress
            tag_suffix: frontend-tests
            context: ./
            setup-qemu: true
          - file: ./src/image-provider/Dockerfile
            tag_suffix: image-provider
            context: ./
            setup-qemu: true
          - file: ./src/kafka/Dockerfile
            tag_suffix: kafka
            context: ./
            setup-qemu: true
          - file: ./src/llm/Dockerfile
            tag_suffix: llm
            context: ./
            setup-qemu: true
          - file: ./src/load-generator/Dockerfile
            tag_suffix: load-generator
            context: ./
            setup-qemu: true
          - file: ./src/payment/Dockerfile
            tag_suffix: payment
            context: ./
            setup-qemu: true
          - file: ./src/postgres/Dockerfile
            tag_suffix: postgresql
            context: ./
            setup-qemu: true
          - file: ./src/product-catalog/Dockerfile
            tag_suffix: product-catalog
            context: ./
            setup-qemu: true
          - file: ./src/product-reviews/Dockerfile
            tag_suffix: product-reviews
            context: ./
            setup-qemu: true
          - file: ./src/quote/Dockerfile
            tag_suffix: quote
            context: ./
            setup-qemu: true
          - file: ./src/recommendation/Dockerfile
            tag_suffix: recommendation
            context: ./
            setup-qemu: true
          - file: ./src/shipping/Dockerfile
            tag_suffix: shipping
            context: ./
            setup-qemu: true

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 0

      - name: Load environment variables from .env file
        run: |
          if [ -f .env ]; then
            # Filter out comments and empty lines, then add each variable to $GITHUB_ENV
            grep -vE '^\s*#|^\s*$' .env | while read -r line; do
              echo "$line" >> $GITHUB_ENV
            done
          else
            echo ".env file not found!"
            exit 1
          fi

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef  # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        if: ${{ matrix.file_tag.setup-qemu }}
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130  # v3.7.0
        with:
          image: tonistiigi/binfmt:master

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f  # v3.12.0
        with:
          buildkitd-config-inline: |
            [worker.oci]
            max-parallelism = 2

      - name: Build and push demo images to GHCR
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83  # v6.18.0
        with:
          context: ${{ matrix.file_tag.context }}
          file: ${{ matrix.file_tag.file }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/julianocosta89/${{ matrix.file_tag.tag_suffix }}-no-otel:${{ env.IMAGE_VERSION }}
          cache-from: type=gha
          cache-to: type=gha
